<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <meta name="description" content="The Wall Assignment Home Page">
    <meta name="author" content="Silver Roi V. Ramos">
    <title>The Wall</title>
    <link rel="stylesheet" href="../assets/css/wall.css">
    <link rel="stylesheet" href="../assets/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <script src="../assets/jquery-3.6.0/jquery-3.6.0.js"></script>
    <script src="../assets/popper/popper.min.js"></script>
    <script src="../assets/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/wall.js"></script>
</head>
<body>
    <header>
        <nav>
            <h3>The Wall Assignment</h3>
            <div>
                <h5>Welcome, Silver Roi Ramos!</h5>
                <a href="index.html">Logout</a>
            </div>
        </nav>
    </header>
    <section class="wall">
        <div class="wall_header">
            <h5><span>0</span> messages arranged by latest posted</h5>
            <button type="button" class="btn" id="create_message" data-toggle="modal" data-target="#create_messages">Create Message</button>
        </div>
        <div class="no_message">
            <img src="../assets/images/no_message.png" alt="no message inbox">
            <p>No Posted Message Yet...</p>
        </div>
        <div class="messages_inbox hidden">
            
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="create_messages" tabindex="-1" role="dialog" aria-labelledby="create_messages_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="../assets/images/cancel.png" alt="close button" id="close_modal">
                    <h3>Create a Message</h3>
                    <textarea id="create_message_textarea">Type your message here.</textarea>
                    <div>
                        <a href="#" id="cancel_create_message_modal">Cancel</a>
                        <button class="post_message" id="post_message">Post Message</button>
                    </div>

                    <!-- <h2>Confirm Delete Message</h2>
                    <p>Are you sure you want to remove this message?</p>
                    <p>This cannot be undone.</p>
                    <div>
                        <a href="#">Cancel</a>
                        <button class="remove_message">Yes, Remove it.</button>
                    </div> -->

                    <!-- <h2>Confirm Delete Comment</h2>
                    <p>Are you sure you want to remove this comment?</p>
                    <p>This cannot be undone.</p>
                    <div>
                        <a href="#">Cancel</a>
                        <button class="remove_message">Yes, Remove it.</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_messages" tabindex="-1" role="dialog" aria-labelledby="delete_messages_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="../assets/images/cancel.png" alt="close button" id="close_modal">
                    <h2>Confirm Delete Message</h2>
                    <p>Are you sure you want to remove this message?</p>
                    <p>This cannot be undone.</p>
                    <input type="hidden" id="message_id">
                    <div>
                        <a href="#" id="delete_message_cancel_button">Cancel</a>
                        <button class="remove_message" id="remove_message">Yes, Remove it.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_comments" tabindex="-1" role="dialog" aria-labelledby="delete_comment_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="../assets/images/cancel.png" alt="close button" id="close_modal">
                    <h2>Confirm Delete Comment</h2>
                    <p>Are you sure you want to remove this comment?</p>
                    <p>This cannot be undone.</p>
                    <input type="hidden" id="comment_id">
                    <div>
                        <a href="#" id="delete_comment_cancel_button">Cancel</a>
                        <button class="remove_comment" id="remove_comment">Yes, Remove it.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden" id="hidden_message_clone">
        <div class="message">
            <p class="message_text"></p>
            <ul class="message_control_list">
                <li>
                    <img src="../assets/images/messages-bubble-square-text.png" alt="messages icon in gray">
                    <p class="comment btn" id="comment_button"><span>0</span> Comment</p>
                </li>
                <li>
                    <img src="../assets/images/pencil-write.png" alt="pencil write icon in gray">
                    <p class="edit btn" id="edit_message_button">Edit</p>
                </li>
                <li>
                    <img src="../assets/images/delete.png" alt="trashbin icon in gray">
                    <p class="delete btn" id="delete_message_button">Delete</p>
                </li>
                <li>
                    <img src="../assets/images/user_placeholder.png" alt="user icon">
                    <p class="profile btn"><span>You</span> - Few seconds ago</p>
                </li>
            </ul>
            <div class="edit_message_box hidden">
                <form action="#">
                    <input type="hidden" id="message_id">
                    <textarea type="text" id="edit_message_textarea"></textarea>
                    <div>
                        <button class="update_message" id="update_message_button">Update Message</button>
                    </div>
                </form>
            </div>
            <div class="comment_box hidden">
                <form action="#">
                    <input type="hidden" id="message_id">
                    <textarea type="text" id="create_comment_textarea" placeholder="Example text."></textarea>
                    <div>
                        <button class="post_comment" id="post_comment">Post Comment</button>
                    </div>
                </form>
                <div class="comment_inbox">
                </div>
            </div>
            <div class="edit_comment_box hidden">
                <form action="#">
                    <input type="hidden" id="comment_id">
                    <textarea type="text" id="edit_comment_textarea"></textarea>
                    <div>
                        <a href="#" id="edit_comment_cancel_button">Cancel</a>
                        <button class="update_comment" id="update_comment_button">Update Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hidden" id="hidden_comment_clone">
        <div class="comment_clone">
            <p class="comment_text"></p>
            <ul class="comment_control_list">
                <li>
                    <img src="../assets/images/pencil-write.png" alt="pencil write icon in gray">
                    <p class="edit btn" id="edit_comment_button">Edit</p>
                </li>
                <li>
                    <img src="../assets/images/delete.png" alt="trashbin icon in gray">
                    <p class="delete btn" id="delete_comment_button" data-toggle="modal" data-target="#delete_message">Delete</p>
                </li>
                <li>
                    <img src="../assets/images/user_placeholder.png" alt="user icon">
                    <p class="profile btn"><span>You</span> - Few seconds ago</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>